@inject IHttpContextAccessor httpContextAccessor;


@{
    var cookieName = "XXXLogin"; 
    var cookieValue = httpContextAccessor.HttpContext?.Request.Cookies[cookieName];
    
    var userName = !string.IsNullOrEmpty(cookieValue) ? cookieValue : "Guest";
}


<div id="customModal" class="custom-modal" style="display: none;">
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h5 class="custom-modal-title">Setup Wizard</h5>
            <h5 class="custom-modal-title"> Welcome </h5>
        </div>
        <div class="custom-modal-body">
            <div id="wizardSteps">
                <!-- Step 1 -->
                <div class="wizard-step active" id="step0">
                    <h5>Step 1: User Information</h5>
                    <input type="text" class="form-control mb-3" placeholder="Enter Name">
                    <input type="text" class="form-control mb-3" placeholder="Enter Email">
                    <button class="btn btn-primary float-end" onclick="nextStep()">Next</button>
                </div>
                <!-- Step 2 -->
                <div class="wizard-step d-none" id="step1">
                    <h5>Step 2: Preferences</h5>
                    <label>
                        <input type="checkbox"> Enable Notifications
                    </label>
                    <br>
                    <label>
                        <input type="checkbox"> Dark Mode
                    </label>
                    <button class="btn btn-secondary float-start" onclick="prevStep()">Back</button>
                    <button class="btn btn-primary float-end" onclick="nextStep()">Next</button>
                </div>
                <!-- Step 3 -->
                <div class="wizard-step d-none" id="step2">
                    <h5>Step 3: Preferences</h5>
                    <label>
                        <input type="checkbox"> Enable Notifications
                    </label>
                    <br>
                    <label>
                        <input type="checkbox"> Dark Mode
                    </label>
                    <button class="btn btn-secondary float-start" onclick="prevStep()">Back</button>
                    <button class="btn btn-primary float-end" onclick="nextStep()">Next</button>
                </div>
                <!-- Step 4 -->
                <div class="wizard-step d-none" id="step3">
                    <h5>Step 4: Preferences</h5>
                    <label>
                        <input type="checkbox"> Enable Notifications
                    </label>
                    <br>
                    <label>
                        <input type="checkbox"> Dark Mode
                    </label>
                    <button class="btn btn-secondary float-start" onclick="prevStep()">Back</button>
                    <button class="btn btn-primary float-end" onclick="finishSetup()">Finish</button>
                </div>
            </div>
            <div id="progressContainer" class="progress-container">
                <div id="progressBar" class="progress-bar"></div>
                <div id="rocket" class="rocket">
                    <img width="60" src="~/images/rocket_loading_2.gif" alt="Rocket" />
                </div>
            </div>
        </div>
    </div>
</div>
