@using Core.Application.Helper
@using Core.Application.Interfaces.Repositories
@inject IHttpContextAccessor httpContextAccessor;
@inject IUserRepository _userRepository;
@inject IConfiguration _configuration;

@{
    string userFullName = string.Empty;
    string userId = string.Empty;

    try
    {
        var cookieName = "XXXLogin";
        var cookieValue = httpContextAccessor.HttpContext?.Request.Cookies[cookieName];
        if (!string.IsNullOrEmpty(cookieValue))
        {
            var transferData = TransferHelper.DecodeUserId(cookieValue);
            userId = transferData.DecodedUserId;
        }
        else
        {
            var jwtToken = httpContextAccessor.HttpContext?.Session.GetString("JwtToken");
            if (string.IsNullOrEmpty(jwtToken))
            {
                throw new Exception("Session has ended. Please log in again.");
            }
            userId = JwtHelper.GetUserIdFromToken(jwtToken, _configuration);
        }

        var user = _userRepository.GetSingle(predicate: p => p.Id == Guid.Parse(userId));
        if (user == null) { throw new Exception("User not found."); }

        userFullName = user.Name + " " + user.SurName;

    }
    catch (Exception ex)
    {
        userFullName = ex.Message;

    }
}

<div id="customModal" class="custom-modal" style="display: none;">
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h5 class="custom-modal-title"> Welcome, @userFullName !</h5>
        </div>
        <div class="custom-modal-body">
            <div id="wizardSteps">
                <!-- Step 1 -->
                <div class="wizard-step active" id="step0">
                    <div class="title_parent_div">
                        <h2>
                            What will you use this Workspace
                            for?
                        </h2>
                    </div>
                    <div class="option-container">
                        <div class="option" onclick="selectOption('Work')">Work</div>
                        <div class="option" onclick="selectOption('Personal')">Personal</div>
                        <div class="option" onclick="selectOption('School')">School</div>
                    </div>
                </div>
                <!-- Step 2 -->
                <div class="wizard-step d-none" id="step1">
                    <div class="title_parent_div">
                        <h2>
                            What features do you want to include?
                        </h2>
                    </div>
                    <div class="option-container">
                        <div class="option1 selected" id="Workflows">Workflows</div>
                        <div class="option1" onclick="toggleOption(this, 'Media')" id="Media">Media</div>
                        <div class="option1" onclick="toggleOption(this, 'Growth')" id="Growth">Growth</div>
                    </div>
                </div>
                <!-- Step 3 -->
                <div class="wizard-step d-none" id="step2">
                    @{
                        string defaultName = userFullName + "'s" + " " + "Workspace";
                    }
                    <div class="title_parent_div">
                        <h2>
                            Lastly,
                            what would you like to
                            name your Workspace?
                        </h2>
                    </div>
                    <div class="option-container-input">
                        <input type="text" class="form-control" value="@defaultName" />
                        <label>Try the name of your company or organization.</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="progressContainer" class="progress-container">
            <div id="progressBar" class="progress-bar"></div>
            <div id="rocket" class="rocket">
                <img width="60" src="~/images/rocket_loading_2.gif" alt="Rocket" />
            </div>
        </div>
        <div class="button_preview_ion_boost">
            <button class="btn btn-secondary float-start backbutton d-none" onclick="prevStep()"> < Back</button>
            <button class="btn btn-primary float-end submitSelections d-none" onclick="submitSelections()">Next > </button>
            <button class="btn btn-primary finishSetup float-end d-none" onclick="finishSetup()">Finish</button>
        </div>
    </div>
</div>
