
#setupWizardModal {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.modal-backdrop.show {
    opacity: 0 !important;
}
body.modal-open {
    filter: blur(5px);
    overflow: hidden;
    z-index: 1000;
}

.wizard-step {
    display: none;
}

    .wizard-step.active {
        display: block;
    }
