@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot Password Page";
}
<!-- WRAPPER -->
<div id="wrapper" class="theme-cyan">
    <form id="forgot-password-form">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        <img src="~/boostionic/html/dist/assets/images/logo-white.svg" alt="Iconic">
                    </div>
                    <div class="card">
                        <div class="header">
                            <p class="lead">Recover my password</p>
                        </div>
                        <div class="body">
                            <p>Please enter your email address below to receive instructions for resetting password.</p>
                            <div class="form-group position-relative">
                                <input type="email" class="form-control" id="Email" placeholder="Email">
                                <div id="loading-spinner" class="loading-spinner" style="display: none;"></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">RESET PASSWORD</button>
                            <div class="bottom">
                                <span class="helper-text">Know your password? <a href="/User/LoginPage">Login</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- END WRAPPER -->

@section Scripts
{
    <script src="~/js/userForgotPassword.js"></script>
}