@using Core.Application.Dtos
@model UserDto
@{
    string fullName = Model.Name + " " + Model.SurName;
}

@{
    ViewData["Title"] = "Home Page";
}


@if (Model.IsSetup)
{
    <div class="text-center">
        <h1 class="display-4">Welcome | @fullName</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
else
{
   
    @section Styles {
    <link href="~/css/setup_register.css" rel="stylesheet" />
    }

    @section Scripts {
    <script src="~/js/modules/toastify-module.js"></script>
    <script src="~/js/setup_register.js"></script>
    }

}

